@font-face {
    font-family: Roboto;
    src: url("../extras/Fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Suissnord;
    src: url("../extras/Fonts/suissnord/Suissnord.otf") format("opentype");
}

body {
    font-family: Roboto;
    background: #e2e2e2;
    color: #000;
}

#headerContainer {
    position: fixed;
    width: 100%;
    height: 100px;
}

.nav {
    width: 96%;
    height: 100%;
    padding: 2%;
    background: #1c1c1c;
    color: #e2e2e2;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav .hamburgerMenu {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 2%;
    margin-top: 20px;
    background: #e2e2e2;
}

.nav #logo {
    display: inline-block;
}

#hamburgerMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2%;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

#hamburgerMenu.open {
    background: rgba(0,0,0,0.75);
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

#hamburgerMenu .closeBtn {
    width: 40px;
    height: 40px;
    padding: 2%;
    margin-top: 20px;
    background: #e2e2e2;
}

#hamburgerMenu .contentContainer {
    width: 96%;
    margin-top: 100px;
    font-size: 2em;
    text-decoration: underline;
    font-family: Suissnord;
    text-align: center;
}

#hamburgerMenu .contentContainer p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#bodyContainer {
    height: 100vh;
    padding-top: -moz-calc(100px + 4%);
    padding-top: -webkit-calc(100px + 4%);
    padding-top: calc(100px + 4%);
}

#bodyContainer h1 {
    padding: 0 5%;
    font-size: 1.7em;
    text-align: center;
}

#bodyContainer hr {
    width: 90%;
    border: 1px solid black;
}